body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: medium;
    background-color: #2cb0c3;
    }
    
    h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #ffffff; 
    font-size: 22px;
    }
    
    h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #ffffff; 
    }
    h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        margin-left: 15px;
        text-align:left;
        color: #ffffff; 
    }
    h5 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        text-align: left;
        color: #ffffff;
        margin-bottom: 0px;
        margin-top: 15px;
    }
    h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    }

    .botonleft{
        width: 150px;
        height: 30px;
        margin-top: 10px;
        padding-top: 7px;
        background-color: #7060b5;
        border-radius: 15px;
        color: #ffffff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 14px;
        margin-left: 15px;
      
    }
    .boton {
    background-color: #7060b5;
    border: none;
    color: #ffffff;
    padding: 8px 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 185px;
    }

    .botondos {
        background-color: #a9d083;
        border: none;
        color: #ffffff;
        padding: 8px 8px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-top: 40px;
        margin-left: 70px;
        }
    
    
    table{
        margin: 0 auto;
        margin-top: 180px;
        background-color: #9bc2e6;
        padding: 10px;
        border: 1px solid;
        border-radius: 5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
    }

    #cbuscar{
        width: 150px;
        float: right;
        margin-right: 250px;
        margin-top: -32px;
        background-color: #7060b5;
    }


    #layerizquierdo{
        float: left;
        width: 270px;
        height: auto;

    }

    #usuarios{
        width: 200px;
        margin-left: 620px;
        height: auto;

    }


    #areatrabajo {
        width: 950px;
        height: 500px;
        background-color: #a9d083;
        margin-left: 250px;
        }
    
    #utilidades{
        width: 400px;
        float: left;
        margin-left: 500px;
    }

    .imprimir{
        margin-top: 20px;
        margin-right: 50px;
    }

    .espacio{
        margin-right: 50px;
    }


    .altas{
        width: 15%;
        margin: 0px;
        background-color: #7060b5;
        border: 0px;
        margin-left: 50px;
    }

    #lista1 {
        float: right;
        margin-right: 10px;
        background-color:aqua ;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
    }


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }
    li {
        float: left;
        padding-left: 5px;
        padding-right: 15px;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;

    }

    #altausers{
        margin-left: 300px;
        margin-top: 220px;
        float: left;
        background-color: #7060b5;
        width: 60%;
        text-align: center;
        padding: 5px;
    }

    .encabezado {
        width: 100%;
        height: 80px;
    }

    .pie{
        width: 100%;
        vertical-align: bottom;
        margin-top: 9%;
    }

    .msg-error {
        color: #2cb0c3;
      }

    .g-recaptcha.error {
        border: solid 2px #7060b5;
        padding: .2em;
        width: 19em;
      }